#commemtBoard{
	grid-column: 1/6;
	grid-row: 7/8;
	display: grid;
	grid-template-columns: 1fr 700px 1fr ;
	grid-template-rows: 50px 100px 200px  ;
	background: #f6f3f2;  /*顏色在這邊設定*/
}

#commemt-box-topic{
	grid-column: 1/4;
	grid-row: 2/3;
	text-align: center ;
	display: flex;
    justify-content: center;
    align-items: center;
}

#commemt-box-topic h4{
	font-size: 25px !important;
	letter-spacing: 10px !important;
}

#commemt-box{
	grid-column: 2/3;
	grid-row: 3/4;
}

.powered-by {
	display: none !important;
}