#subscriptionBoard{
	display: grid;
	grid-template-columns: 1fr 700px 1fr;
	grid-template-rows: 150px 500px;
}


#subscription-box-topic{
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#subscription-box-topic h4{
	font-size: 25px !important;
	letter-spacing: 10px !important;
}

#subscription-box{
	grid-column: 2/3;
	grid-row: 2/3;
}


@media only screen and (max-width: 876px){
	#subscriptionBoard{
		display: grid;
		grid-template-columns: 1fr 600px 1fr;
	}
}

@media only screen and (max-width: 768px){
	#subscriptionBoard{
		display: grid;
		grid-template-columns: 1fr 550px 1fr;
	}
}

@media only screen and (max-width: 650px){
	#subscriptionBoard{
		display: grid;
		grid-template-columns: 1fr 500px 1fr;
	}
}

@media only screen and (max-width: 600px){
	#subscriptionBoard{
		display: grid;
		grid-template-columns: 1fr 450px 1fr;
	}
}

div.mce_inline_error{
	background-color: #F0EFED !important;
}