#igBottomBar{
	/*grid-column: 1/6;
	grid-row: 7/8;*/
	display: grid;
	grid-template-columns: 1fr 1100px 1fr;
	grid-template-rows: 50px 100px 30px 200px;
	position:relative;
	background: #ecd5cd;
}

#ig-bottom-bar-name{
	grid-column: 1/4;
	grid-row: 2/3 ;
	display: flex;
    justify-content: center;
    align-items: center;
}

#ig-bottom-bar-name h4{
	font-size: 40px;
}

#ig-bottom-bar-outer-box{
	grid-column: 2/3;
	grid-row: 4/5;
	padding: 5px;
	border: 1px #fff solid;
}

