#main{
	display: grid;
	grid-template-columns: 0.95fr 750px 0.15fr 300px 0.95fr;
	grid-template-rows: 820px 730px 14630px 940px 350px; /*self-intro、ig-sideBar、main-content、related-post、subscription*/
}