#subscriptionBoard{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 500px;
}


#subscription-box-topic{
	grid-column: 2/3;
	grid-row: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#subscription-box{
	grid-column: 2/3;
	grid-row: 2/3;
}

#subscription-box-topic h4{
	font-size: 25px;
	letter-spacing: 10px;
}

#subscription-box h5{
	letter-spacing: 0.8px;
	font-weight: 500;
	padding-bottom: 8px;
	font-size: 1.4em;
}

#mc_embed_signup .mc-field-group{
	padding-bottom: 25px;
}

#subscription-box .clear-foot{
	padding-left: 2px;
}

div.mce_inline_error{
	background-color:#F0EFED !important;
}