:root{
	--igSideBarBtnColor: #f6ebe8;
	--igSideBarBtnColorHover: #edd7d2;
}

#igSideBar a{
	text-decoration: none;
}

#igSideBar img{
	width: 100%;
}
	
#igSideBar{
	grid-column: 1/2 ;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 100px 20px 1fr 20px 50px;
}

#ig-sidebar-name{
	grid-column: 1/2;
	grid-row: 2/3;
}

#ig-sidebar-name a{
	display:flex;
	flex-flow: row wrap;
	align-items: center;
}

#ig-sidebar-name img{
	width: 70px;
	height: auto;
	border-radius: 100%;
	margin: 20px;
	transition: all 0.3s ease;
}

#ig-sidebar-name img:hover{
	opacity: 0.7;
}

#ig-sidebar-name h3{
	padding-bottom:10px;
	font-size:20px;
	color: #727321;
	transition: all 0.3s ease;
	font-weight: 400;
}

#ig-sidebar-name h3:hover{
	color: #EACACB;
}


#ig-sidebar-photo{
	grid-column: 1/2;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 5px;
}

#ig-side-bar-box-pic2{
	grid-column: 2/3;
	grid-row: 1/2;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic3{
	grid-column: 3/4;
	grid-row: 1/2;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic4{
	grid-column: 1/2;
	grid-row: 2/3 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic5{
	grid-column: 2/3;
	grid-row: 2/3;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic6{
	grid-column: 3/4;
	grid-row: 2/3;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic7{
	grid-column: 1/2;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic8{
	grid-column: 2/3;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic9{
	grid-column: 3/4;
	grid-row: 3/4 ;
	transition: all 0.3s ease;
}

#ig-side-bar-box-pic1:hover, #ig-side-bar-box-pic2:hover, #ig-side-bar-box-pic3:hover, #ig-side-bar-box-pic4:hover, #ig-side-bar-box-pic5:hover, #ig-side-bar-box-pic6:hover, #ig-side-bar-box-pic7:hover, #ig-side-bar-box-pic8:hover, #ig-side-bar-box-pic9:hover{
	opacity: 0.7;
}

#ig-sidebar-photo i{
	position: absolute;
    z-index: 1;
}

#ig-sidebar-photo img{
	position: relative;
}

#ig-sidebar-photo .fa-image{
	color: white;
	font-size: 10px;
	margin: 6px;
}

#ig-sidebar-btn-box{
	grid-column: 1/2;
	grid-row: 6/7;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#ig-sidebar-btn{
	background: var(--igSideBarBtnColor);
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
    height: 41px;
	transition: all 0.3s ease;
}

#ig-sidebar-btn:hover{
	background: var(--igSideBarBtnColorHover);
}

#ig-sidebar-btn-box p{
	font-size: 14px;
	color: #73736F;
	letter-spacing: 0.5px;
}

@media only screen and (max-width: 1100px){
	#igSideBar{
		display: none !important;
	}
}