#mainContent a{
	text-decoration: none;
	color: black;
}

#mainContent img{
	width: 100%;
	height: auto;
	border-radius: 2px;
}

#mainContent{
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 100px 30px 1fr 80px; /*共16180px*/
}

#topic{
	grid-column: 2/3;
	grid-row: 2/3;
}

#topic h1.main-topic{
	display: flex;
	justify-content: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 7px;
	margin-bottom: 35px;
	width: 100%;
}

#topic h2.second-topic{
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 5px;
	font-weight: 300;
	width: 100%;
}

/*#top-main-picture{
	grid-column: 2/3;
	grid-row: 4/5;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

#top-information{
	grid-column: 2/3;
	grid-row: 6/7;
}*/

#post-time{
	font-size: 13px;
	font-weight: 400;
	color: #EACACB;
	margin:0;
	letter-spacing: 3px;
	cursor: pointer;
	margin-bottom: 15px;
}

#post-time:hover{
	color: #A2B59F;
	transition: all 0.5s ease;
}

#article{
	grid-column: 2/3;
	grid-row: 8/9;
}

#article p{
	font-size:17px;
	font-weight: 300;
	letter-spacing: 3px;
	line-height: 35px;
}

#article .siteIntro{
	background-color: #f8f9fa;
	width: 100%;
	padding: 1vh 0 1vh 1vw;
	margin-bottom: 4vh;
}

#article a .changeColor{
	color: #A2B59F;
	font-weight: 500;
	display:inline;
}

#article a .changeColor:hover{
	color: #EACACB;
	transition:0.5s;
}

#main-content-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-content-btn p{
	letter-spacing: 1px;
    width: 188px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
	color: white;
	background: black;
	border-radius: 5px;
}


@media only screen and (max-width: 1067px){
	
	#mainContent{
		display: grid;
		grid-template-columns: 0.05fr 1fr 0.05fr;
		grid-template-rows: 80px 100px 30px 1fr 80px;
	}
	
	#topic{
		grid-column: 2/3;
		grid-row: 2/3;
		/*display: flex;
		justify-content: center;
		flex-flow : row wrap;*/
	}
	
	#topic h1.main-topic{
		display: flex;
		justify-content: center;
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	#topic h2.second-topic{
		display: flex;
		justify-content: center;
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 2px;
	}
}