#igBottomBar img{
	width: 100%;
}

#igBottomBar{
	grid-column: 1/2;
	grid-row: 4/5;
	display: grid;
	grid-template-columns: 1fr 1100px 1fr;
	grid-template-rows: 50px 100px 30px 1fr 50px;
	position:relative;
	background: #ecd5cd;
}

#ig-bottom-bar-name{
	grid-column: 1/4;
	grid-row: 2/3 ;
	display: flex;
    justify-content: center;
    align-items: center;
}

#ig-bottom-bar-name h4{
	font-size: 40px;
}

#ig-bottom-bar-outer-box{
	grid-column: 2/3;
	grid-row: 4/5;
	padding: 5px;
	border: 1px #fff solid;
}

#ig-bottom-bar-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
}

#ig-bottom-bar-box i{
	position: absolute;
    z-index: 1;
}

#ig-bottom-bar-box .fa-image{
	color: white;
	font-size: 20px;
	margin: 10px;
}

#ig-bottom-bar-box img{
	position: relative;
}

#ig-bottom-bar-box-pic1{
	grid-column: 1/2 ;
	grid-row: 1/2 ;
}

#ig-bottom-bar-box-pic2{
	grid-column: 2/3 ;
	grid-row: 1/2 ;
}

#ig-bottom-bar-box-pic3{
	grid-column: 3/4 ;
	grid-row: 1/2 ;
}
#ig-bottom-bar-box-pic4{
	grid-column: 4/5 ;
	grid-row: 1/2 ;
}

#ig-bottom-bar-box-pic5{
	grid-column: 5/6 ;
	grid-row: 1/2 ;
}

@media only screen and (max-width: 1171px){
	#igBottomBar{
		grid-template-columns: 0.01fr 1fr 0.01fr;
	}
}

@media only screen and (max-width: 1100px){
	#igBottomBar{
		grid-column:1/2;
		grid-row: 5/6;
	}
}

@media only screen and (max-width: 950px){
	#igBottomBar{
		display: grid;
		grid-template-columns: 1fr 1100px 1fr;
		grid-template-rows: 15px 100px 5px 1fr 60px;
	}
}

@media only screen and (max-width: 825px){
	
	#ig-bottom-bar-name h4{
		font-size: 35px;
	}
}

@media only screen and (max-width: 800px){
	
	#igBottomBar{
		display: grid;
		grid-template-columns: 1fr 1100px 1fr;
		grid-template-rows: 10px 85px 2px 1fr 60px;
	}
}

@media only screen and (max-width: 679px){
	
	#ig-bottom-bar-name h4{
		font-size: 30px;
	}
}

@media only screen and (max-width: 610px){
	
	#igBottomBar{
		display: grid;
		grid-template-columns: 1fr 1100px 1fr;
		grid-template-rows: 10px 50px 5px 1fr 44px;
	}
	
	#ig-bottom-bar-name h4{
		font-size: 24px;
	}
}

@media only screen and (max-width: 550px){
	
	#igBottomBar{
		display: grid;
		grid-template-columns: 1fr 1100px 1fr;
		grid-template-rows: 10px 50px 5px 1fr 30px;
	}
	
	#ig-bottom-bar-name h4{
		font-size: 22px;
	}
}

@media only screen and (max-width: 520px){
	
	#ig-bottom-bar-name h4{
		font-size: 20px;
	}
}